@model IEnumerable<temperature_analysis.Models.TemperatureViewModel>

@{
    ViewData["Title"] = "Temperature Dashboard";
}

<h1>Temperature Dashboard</h1>

<div>
    <canvas id="temperatureChart" width="400" height="200"></canvas>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming"></script>
    <script src="~/js/dashboard.js"></script>
}
