@{
    ViewData["Title"] = "Home Page";
}

<p>Nosso aplicativo é um portal com funcionalidades avançadas para gerenciamento de usuários, dispositivos e dados de temperatura, além de dashboards informativos. Aqui estão algumas características principais:</p>
<br />
<ul>
    <li><strong>Gerenciamento de pessoas e funcionários:</strong> Oferecemos funcionalidades completas para gerenciamento de usuários, incluindo cadastro, edição e exclusão.</li>
    <li><strong>Gerenciamento de Dispositivos:</strong> Nosso portal permite o cadastro e exclusão de dispositivos, bem como o monitoramento de dados.</li>
    <li><strong>Recursos Avançados de Pesquisa:</strong> Disponibilizamos opções de pesquisa avançada para que os usuários possam encontrar facilmente as informações desejadas.</li>
    <li><strong>Monitoramento de Temperatura:</strong> Dashboards interativos que exibem dados em tempo real sobre temperatura</li>
</ul>

<br />

<ul>
    <li>Lucas de Melo (081220017)</li>
    <li>Lucas Kogima (081220043)</li>
    <li>Luiz Eduardo Bartolassi (081220004)</li>
    <li>Murilo Trevejo (081220025)</li>
</ul>

