@{
    ViewData["Title"] = "Home Page";
}

<div class="flex flex-col items-center justify-center">
    <div class="pt-4 w-11/12 md:w-5/6 lg:w-3/4">
        <h1 class="text-3xl font-bold mb-6 text-center">Bem-vindo ao Temperature Analysis</h1>
        <p class="text-lg font-medium mb-6 text-center text-gray-700">
            Nosso aplicativo é um portal com funcionalidades avançadas para gerenciamento de usuários, dispositivos e dados de temperatura. Aqui estão algumas características principais:
        </p>

        <ul class="list-disc list-inside mb-8 text-gray-600 space-y-2">
            <li><strong>Gerenciamento de pessoas e funcionários:</strong> Oferecemos funcionalidades completas para gerenciamento de usuários, incluindo cadastro, edição e exclusão.</li>
            <li><strong>Gerenciamento de Dispositivos:</strong> Nosso portal permite o cadastro e exclusão de dispositivos, bem como o monitoramento de dados.</li>
            <li><strong>Recursos Avançados de Pesquisa:</strong> Disponibilizamos opções de pesquisa avançada para que os usuários possam encontrar facilmente as informações desejadas.</li>
            <li><strong>Monitoramento de Temperatura:</strong> Dashboards interativos que exibem dados em tempo real sobre temperatura.</li>
        </ul>

        <p class="text-end font-bold text-gray-700 pb-4">
            <a href="/about">Sobre &rarr;</a>
        </p>
    </div>
</div>