@{
    ViewData["Title"] = "Sobre";
}

<div class="flex flex-col items-center justify-center">
    <div class="pt-4 w-11/12 md:w-5/6 lg:w-3/4">
        <div>
            <h2 class="text-2xl font-semibold mb-4 text-center">Sobre o Sistema</h2>
            <p class="text-center text-gray-700 mb-8">
                Este sistema foi desenvolvido como parte do projeto integrado das disciplinas de Sistemas Embarcados, Fenômeno dos Transportes, Linguagem de Programação I e Controle e Automação. Ele oferece gerenciamento completo de usuários, dispositivos e monitoramento de dados de temperatura com visualização em dashboards.
            </p>
            <p class="text-center text-gray-700 mb-4">
                <strong>Características principais:</strong>
            </p>
            <ul class="list-disc list-inside text-gray-700 text-center space-y-2 mb-8">
                <li>Sistema web desenvolvido em Asp.net Core MVC.</li>
                <li>Pelo menos 3 CRUDs com relacionamento entre tabelas.</li>
                <li>Visualizações de dados em tempo real utilizando dashboards.</li>
                <li>Integração com APIs para gestão de dados de temperatura.</li>
            </ul>
        </div>

        <h2 class="text-xl font-semibold mb-4 text-center text-gray-700">Equipe de Desenvolvimento</h2>
        <ul class="list-disc list-inside text-gray-600 text-center space-y-2 pb-4">
            <li>Lucas de Melo (081220017)</li>
            <li>Lucas Kogima (081220043)</li>
            <li>Luiz Eduardo Bartolassi (081220004)</li>
            <li>Murilo Trevejo (081220025)</li>
        </ul>
    </div>
</div>